ion-content .fangWeiShuoMingBox {
  background-color: white;
  padding: 10px;
  text-align: center;
}
ion-content .fangWeiShuoMingBox img {
  width: 90%;
}
ion-content .line {
  width: 98%;
  height: 1px;
  background-color: #E7E7E7;
  margin: 0 auto;
}
ion-content .selectBox {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
ion-content .selectBox .hintBox {
  width: 100%;
  color: #F0292A;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}
ion-content .selectBox .SNBox {
  margin-top: 20px;
  width: 100%;
}
ion-content .selectBox .SNBox .inputBox {
  position: relative;
  margin-left: 9%;
}
ion-content .selectBox .SNBox .inputBox .text {
  padding-left: 40px;
  border: solid 1px #eeeeee;
  border-radius: 5px;
  width: 60%;
  height: 40px;
  display: block;
  float: left;
  text-align: center;
  line-height: 40px;
}
ion-content .selectBox .SNBox .inputBox img {
  display: block;
  float: left;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 30px;
}
ion-content .selectBox .SNBox .buttonBox {
  display: block;
  float: left;
  margin-left: 2%;
  color: white;
  background-color: #D9A8CD;
  width: 20%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}
ion-content .selectBox .res {
  margin-top: 25%;
  text-align: center;
  width: 100%;
  clear: both;
  display: none;
}
ion-content .selectBox .ser {
  text-indent: 25px;
  margin-top: 25%;
  width: 100%;
  clear: both;
  letter-spacing: 1px;
  padding: 10px;
  display: none;
}
