/*用户信息*/
.userBox {
  border-bottom: solid 1px #eee;
  width: 100%;
  height: auto;
  background: url("../../resource/images/icon/my_background.png") no-repeat 0 -35px;
  /*用户图像*/
  /*用户账号*/
}
.userBox .loginOutBox {
  top: 15px;
  left: 15px;
  position: absolute;
  padding: 10px;
  font-size: 15px;
  z-index: 9999;
  color: #000;
}
.userBox .usrIconBox {
  text-align: center;
  height: 120px;
  width: 100%;
  position: relative;
}
.userBox .usrIconBox .usrIcon {
  margin-top: 15px;
  width: 90px;
  height: 90px;
  border-radius: 90px;
}
.userBox .usrIconBox .unreadBox {
  padding: 5px;
  top: 20px;
  right: 20px;
  position: absolute;
}
.userBox .usrIconBox .unreadBox .unreadIcon {
  width: 30px;
  height: 20px;
}
.userBox .usrIconBox .unreadBox .unreadCount {
  top: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  background: red;
}
.userBox .userAccountBox {
  font-size: x-large;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #666666;
}
.userBox .userAccountBox .userAccountBox {
  font-size: medium;
  color: black;
}
.userBox .levelBox {
  line-height: 40px;
  height: 40px;
  width: auto;
  text-align: center;
  /*等级图标*/
  /*等级名*/
}
.userBox .levelBox .levelIcon {
  width: 20px;
  height: 15px;
  position: relative;
}
.userBox .levelBox .levelName {
  color: #666666;
  margin-left: 8px;
  position: relative;
}
.userBox .gradeBox {
  width: 35%;
  height: 30px;
  background-color: #d39ac5;
  text-align: center;
  line-height: 30px;
  margin: 0 auto 10px;
  color: white;
  border-radius: 3px;
  display: none;
}
/*货币和积分*/
.moneyAndScoreBox {
  background: white;
  margin-top: 10px;
  border-top: solid 1px #eee;
  height: 70px;
  text-align: center;
  position: relative;
  /*金额容器  积分容器*/
}
.moneyAndScoreBox .moneyBox {
  height: 50px;
  width: 50%;
  text-align: center;
  float: left;
  margin-top: 10px;
  border-right: 1px solid #eee;
  /*金额 积分*/
  /*金额数量 积分数量*/
}
.moneyAndScoreBox .moneyBox .moneyName {
  color: #9a9a9a;
  width: 100%;
  height: 25px;
  line-height: 25px;
}
.moneyAndScoreBox .moneyBox .moneyCount {
  font-size: x-large;
  line-height: 25px;
  width: 100%;
  height: 25px;
}
/*去掉积分的右边线*/
.moneyAndScoreBox :last-child {
  border: none;
}
/*辅销品*/
.fxp_moneyScoreBox {
  background: white;
  border-bottom: solid 1px #eee;
  border-top: solid 1px #eee;
  height: 70px;
  text-align: center;
  position: relative;
  /*金额容器  积分容器*/
}
.fxp_moneyScoreBox .moneyBox {
  height: 50px;
  width: 50%;
  text-align: center;
  float: left;
  margin-top: 10px;
  border-right: 1px solid #eee;
  /*金额 积分*/
  /*金额数量 积分数量*/
}
.fxp_moneyScoreBox .moneyBox .moneyName {
  color: #9a9a9a;
  width: 100%;
  height: 25px;
  line-height: 25px;
}
.fxp_moneyScoreBox .moneyBox .moneyCount {
  font-size: x-large;
  line-height: 25px;
  width: 100%;
  height: 25px;
}
/*去掉积分的右边线*/
.fxp_moneyScoreBox :last-child {
  border: none;
}
/*我的办公室*/
.MyOfficeBox {
  border-bottom: solid 1px #eee;
  border-top: solid 1px #eee;
  margin-top: 10px;
  background: white;
  width: 100%;
  height: 50px;
  position: relative;
  /*下页的容器*/
}
.MyOfficeBox .officeIconNameBox {
  float: left;
  height: 50px;
  line-height: 50px;
  margin-left: 30px;
}
.MyOfficeBox .officeIconNameBox .officeIcon {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 15px;
  margin-right: 12px;
}
.MyOfficeBox .officeIconNameBox .officeName {
  color: #343434;
}
.MyOfficeBox .nextPageBox {
  height: 50px;
  position: absolute;
  right: 15px;
  /*下一页*/
}
.MyOfficeBox .nextPageBox .nextPage {
  margin-top: 17px;
  width: 10px;
  height: 16px;
}
/*业务相关容器*/
.businessBox {
  border-top: solid 1px #eee;
  background: white;
  margin-top: 10px;
  /*每一个块的*/
}
.businessBox .businessColBox {
  background-color: white;
  color: #676767;
  height: 90px;
  width: 33.3%;
  float: left;
  text-align: center;
  border-bottom: solid 1px #eee;
  /*我的订单*/
}
.businessBox .businessColBox .indentIcon {
  margin-top: 15px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
/*遮盖层*/
.unLoginBox {
  vertical-align: middle;
  margin: 0px auto;
  width: 100%;
  z-index: 99999;
  position: absolute;
  top: 50%;
  margin-top: -180px;
  height: 360px;
}
.unLoginBox img {
  margin: auto;
  display: block;
  width: auto;
  height: 300px;
  margin-bottom: 5px;
}
.unLoginBox button {
  margin-left: 10%;
  width: 35%;
  height: 35px;
  vertical-align: middle;
  background: #d98bbc;
  border: none;
  border-radius: 5px;
  color: #fff;
}
